html,
body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.swipe-card {
    position: absolute;

    margin: auto;
    left: 0;
    right: 0;

    height: calc(100% - 4em);
    width: 80%;
    max-width: 400px;

    will-change: transform;
}

.swipe-card.smooth {
    transition: 0.5s ease-in-out;
}

.swipe-card.hide {
    display: none;
}

.swipe-card.smooth>.overlay {
    transition: 0.65s ease-in-out;
    will-change: transform;
}

.swipe-card.overlay {
    display: flex;
    justify-content: center;

    font-size: 50pt;
    font-weight: 600;
    color: white;

    opacity: 0;

    height: 100%;
    width: 100%;
    margin-top: -20px;
}

.swipe-card.overlay span {
    align-self: center;
}

.swipe-card.overlay.overlay-left {
    background-color: rgb(200, 0, 0);
}

.swipe-card.overlay.overlay-right {
    background-color: rgb(109, 168, 50);
}

body {
    display: flex;
    justify-content: center;
}

#container-wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow: hidden;
    height: 100%;
    width: 100vw;

    /*So the overflow: hidden can work;*/
    position: relative;
}

.rel-max-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

/* Styling */
.headline {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 40%;
    padding: 20px;
    overflow: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.swipe-card .card-body {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.card-text {
    padding: 15px;

    max-height: 90%;
    overflow: hidden;

    font-size: 20pt;
    font-family: Helvetica, Roboto, Arial;
    font-weight: 700;
}

.card-info {
    display: flex;
}

.card-count {
    margin-left: auto;
    color: darkgray;
}

.card-difficulty {
    margin-left: 5px;
}

.card-difficulty {}

#difficulty {
    position: absolute;

    width: 100%;
    height: 100%;

    display: none;
    /* flex */
    flex-direction: column;

    align-items: center;
}

#difficulty a {
    margin-bottom: 1.5rem;
    width: 100px;
}

#difficulty .btn-outline-secondary {
    border: none;
}

#info-done {
    position: absolute;

    width: 100%;
    height: 100%;

    display: none;
    /* flex */
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#info-done>span {
    display: flex;
    align-items: baseline;
    flex-direction: row;
}

#info-done>span>* {
    margin-right: 5px;
}

#container-title {
    align-self: center;
    padding: 3em;
    padding-bottom: 2em;

    width: 100%;
    max-width: 500px;
}

#container-title h1 {
    font-weight: 700;
}

#container-title>*:not(:first-child) {
    margin-top: -15px;
}

#container-title span.red,
#question span.red {
    text-decoration: underline;
    text-decoration-color: rgb(200, 0, 0);
}

#container-title span.green,
#question span.green {
    text-decoration: underline;
    text-decoration-color: rgb(109, 168, 50);
}

#container-title .instructions {
    font-size: 10pt;
    color: darkgray;
}

#difficulty #difficulty-picker {
    display: flex;
    flex-direction: column;
    /*margin-top: auto;*/
    /*margin-bottom: auto;*/


    justify-content: center;
    align-items: center;

    height: calc(100% - 3em - 10em);
    width: 80%;
    max-width: 400px;
}

#info-done-results {
    display: flex;
    width: 100%;
    padding: 3em;
    flex-direction: column;
}

#info-done-results .info-card {
    width: 100%;
    margin-bottom: 0.5em;
}

.red {
    color: rgb(200, 0, 0);
}

.green {
    color: rgb(109, 168, 50);
}

.info-card i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: darkgray;
}

.info-card .score {
    font-size: 10pt;
}

.info-card .title {
    font-weight: 700;
}

.last-headline {
    border: none;
    padding: 10px;
    transform: rotate(1deg);
}

.last-headline .card {
    padding: 8px;
    border-color: darkgray;
    height: 100%;
}

.last-headline>.card {
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.confetti {
    position: absolute;
    height: 10px;
    width: 10px;
    z-index: 10000;
    will-change: transform;
    transition-timing-function: linear;
}

#celebration_container {
    position: absolute;
    width: 100%;
    height: 10px;
}

#container-streak {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 10px;
    text-align: center;
}

.progressbar {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 100%;
    width: 80%;
    max-width: 400px;
}

.progressbar .count {
    position: absolute;
    /*bottom: 7px;*/
    bottom: -4px;
    margin-left: -20px;
    color: darkgray;
    font-size: 10pt;
    text-align: left;
    text-align: right;
}
.progressbar .count.highlight {
    -webkit-animation: highlightkf 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: highlightkf 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes highlightkf {
    0%, 100% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(2,2);
    }
    100% {
        transform: scale(1,1);
    }
}

.progressbar .progress {
    height: 100%;
    width: 0%;
    transition: 0.5s ease-in-out;

    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 98, 0, 1) 100%);
    background-size: max(100%, 400px);
}


/*ANIMATIONS */

.shake-bottom1 {
    -webkit-animation: shake-bottom1 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom1 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.shake-bottom2 {
    -webkit-animation: shake-bottom2 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom2 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.shake-bottom3 {
    -webkit-animation: shake-bottom3 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom3 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-9 20:30:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom1 {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(0.125deg);
        transform: rotate(0.125deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-0.25deg);
        transform: rotate(-0.25deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(0.25deg);
        transform: rotate(0.25deg);
    }

    80% {
        -webkit-transform: rotate(-0.125deg);
        transform: rotate(-0.125deg);
    }

    90% {
        -webkit-transform: rotate(0.125deg);
        transform: rotate(0.125deg);
    }
}

@-webkit-keyframes shake-bottom2 {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(0.25deg);
        transform: rotate(0.25deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(0.25deg);
        transform: rotate(0.25deg);
    }

    80% {
        -webkit-transform: rotate(-0.5deg);
        transform: rotate(-0.5deg);
    }

    90% {
        -webkit-transform: rotate(0.25deg);
        transform: rotate(0.25deg);
    }
}

@-webkit-keyframes shake-bottom3 {

    0%,
    100% {
        -webkit-transform: rotate(0deg) scale(1.0);
        transform: rotate(0deg) scale(1.0);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }

    10% {
        -webkit-transform: rotate(0.3deg) scale(1.05);
        transform: rotate(0.3deg) scale(1.05);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-0.7deg) scale(1.1);
        transform: rotate(-0.7deg) scale(1.1);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(0.3deg) scale(1.05);
        transform: rotate(0.3deg) scale(1.05);
    }

    80% {
        -webkit-transform: rotate(-0.7deg) scale(1.1);
        transform: rotate(-0.7deg) scale(1.1);
    }

    90% {
        -webkit-transform: rotate(0.3deg) scale(1.05);
        transform: rotate(0.3deg) scale(1.05);
    }
}

.bounce-right {
    -webkit-animation: bounce-right 0.8s both;
    animation: bounce-right 0.8s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-9 20:34:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-right
 * ----------------------------------------
 */
@-webkit-keyframes bounce-right {
    0% {
        -webkit-transform: translateX(48px) scale(1.2);
        transform: translateX(48px) scale(1.2);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }

    24% {
        opacity: 1;
    }

    40% {
        -webkit-transform: translateX(26px);
        transform: translateX(26px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    65% {
        -webkit-transform: translateX(13px);
        transform: translateX(13px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    82% {
        -webkit-transform: translateX(6.5px);
        transform: translateX(6.5px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    93% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    25%,
    55%,
    75%,
    87%,
    98% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    100% {
        -webkit-transform: translateX(0px) scale(1.0);
        transform: translateX(0px) scale(1.0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

/*FIRE*/

#container-streak.max-1 .mo-fire {
    width: 30px;
    height: 30px;
    margin-top: -45px;
    margin-left: calc(50vw + min(40%, 200px) - 20px);
}

#container-streak.max-2 .mo-fire {
    width: 45px;
    height: 45px;
    margin-top: -67px;
    margin-left: calc(50vw + min(40%, 200px) - 27px);
}

#container-streak.max-3 .mo-fire {
    width: 60px;
    height: 60px;
    margin-top: -90px;
    margin-left: calc(50vw + min(40%, 200px) - 40px);
}

#container-streak.max-4 .mo-fire {
    width: 80px;
    height: 80px;
    margin-top: -120px;
    margin-left: calc(50vw + min(40%, 200px) - 55px);
}

#container-streak.max .mo-fire {
    opacity: 1;
    transition: 0.1s ease-in !important;
}

.mo-fire {
    align-items: baseline;
    text-align: center;

    transition: width 1s ease-in, height 1s ease-in, opacity 0.2s ease-in;
    opacity: 0;
    margin-left: calc(50vw + min(40%, 200px) - 5px);

    margin-top: 0px;
    height: 0px;
    width: 0px;
    left: 50%;
}

.mo-fire svg {
    width: 100%;
    height: auto;
    position: relative
}

.flame {
    animation-name: flamefly;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    opacity: 0;
    transform-origin: 50% 50% 0;
}

.flame.one {
    animation-delay: 1s;
    animation-duration: 3s;
}

.flame3.two {
    animation-duration: 5s;
    animation-delay: 1s;
}

.flame-main {
    animation-name: flameWobble;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.flame-main.one {
    animation-duration: 4s;
    animation-delay: 1s;
}

.flame-main.two {
    animation-duration: 3s;
    animation-delay: 2s;
}

.flame-main.three {
    animation-duration: 2.1s;
    animation-delay: 3s;
}

.flame-main.four {
    animation-duration: 3.2s;
    animation-delay: 4s;
}

.flame-main.five {
    animation-duration: 2.5s;
    animation-delay: 5s;
}

@keyframes flameWobble {
    50% {
        transform: scale(1, 1.2) translate(0, -30px) rotate(-2deg);
    }
}

@keyframes flamefly {
    0% {
        transform: translate(0) rotate(180deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(-20px, -100px) rotate(180deg);
        opacity: 0;
    }